@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Basic&family=Martel&family=PT+Sans&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* TITLE */

h1 {
  font-size: 50px;
}

h1,
h2,
h3 {
  font-family: "Gentium Book Basic", serif;
}

h1,
h2 {
  padding: 3vh;
  text-transform: uppercase;
  text-align: center;
}

h2,
h3 {
  text-decoration: underline;
}

/* Navigation */

nav {
  position: absolute;
  top: 0;
  width: 10vw;
  height: 10vh;
  background: #bebd9e;
  text-align: center;
  z-index: 999;
  font-family: "PT Sans", sans-serif;
}

nav .element-nav {
  width: 30vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav .element-nav a {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vw;
  text-decoration: none;
  color: #20201a;
}

nav a:hover {
  scale: 1.1;
}

#toggle {
  display: none;
}

label {
  font-size: 40px;
  color: #ffffff;
  cursor: pointer;
}

nav .element-nav {
  display: none;
  flex-direction: column;
  background: #bebd9e;
  height: 220px;
}

#toggle:checked + .element-nav {
  display: flex;
}

/* Favicon */

.container-favicon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #bebd9e;
}

#cab {
  width: 15vw;
}

/* MAIN */

/* Home picture */

#main-img {
  max-width: 100%;
  height: auto;
}

/* Organizational chart */

.organizational-chart {
  text-align: center;
}

.card {
  width: 70vw;
  margin: 4vh auto;
}

.card-text {
  font-size: 15px;
  font-family: "PT Sans", sans-serif;
}

/*subscribe*/

.Contact {
  width: 90vw;
  text-align: center;
  margin: 5vh auto;
  font-family: "Martel", serif;
}

.Contact-item {
  margin: 0;
}

.btn {
  background: #bebd9e;
  margin-top: 2vh;
}

/* FOOTER */

footer {
  background-color: #bebd9e;
  text-align: center;
  padding: 2vh;
  font-family: "Martel", serif;
}

.adress {
  color: black;
  text-decoration: none;
}

/* Mains */

.event,
.service,
.expression,
.form-contact {
  text-align: center;
  margin: 5vh auto;
  width: 70vw;
}

.description {
  text-align: center;
  margin: 5vh auto;
  width: 80vw;
}

.expression-img,
.service-img,
.event-img {
  margin-top: 3vh;
  max-width: 70vw;
}

.carnaval,
.saint-nicolas,
.jeux {
  width: 70vw;
  margin: auto;
}

.para-carnaval,
.para-saint-nicolas,
.para-jeux {
  text-align: center;
  width: 50vw;
}

.form-label {
  color: #000000;
  font-family: "Martel", serif;
  font-size: 20px;
}

/* RESPONSIVE */

@media screen and (min-width: 1024px) {
  /* HEADER */

  .container-favicon {
    height: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    background: #bebd9e;
  }

  #cab {
    position: absolute;
    left: 10vw;
    width: 5vw;
  }

  #main-img {
    position: absolute;
    top: 0;
    right: 0;
    height: 10vw;
  }

  /* NAVIGATION */

  nav {
    position: absolute;
    top: 1.5vw;
  }

  nav .element-nav {
    width: 12vw;
  }

  /* FORM */

  .container-form {
    width: 70vw;
  }
}
